<style>
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  #map {
    height: 100%;
  }
.controls {
margin-top: 50px;
border: 1px solid transparent;
border-radius: 2px 0 0 2px;
box-sizing: border-box;
-moz-box-sizing: border-box;
height: 32px;
outline: none;
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
background-color: #fff;
font-family: Roboto;
font-size: 15px;
font-weight: 300;
margin-left: 12px;
padding: 0 11px 0 13px;
text-overflow: ellipsis;
width: 500px;
margin-top: 98px;
}

#pac-input:focus {
border-color: #4d90fe;
}

.pac-container {
font-family: Roboto;
}

#type-selector {
color: #fff;
background-color: #4d90fe;
padding: 5px 11px 0px 11px;
}

#type-selector label {
font-family: Roboto;
font-size: 13px;
font-weight: 300;
}

</style>
<input id="lat_value" data-id="<%= @lat %>" style="display: none;">
<input id="lng_value" data-id="<%= @lng %>" style="display: none;">
<div class="row">
  <div class="col-md-12">

  <div class="col-md-5">
    <div class="form-group">

<input id="pac-input" class="controls" type="text" placeholder="Enter a Location" onclick="autoCompleteLocation()">
</div>
</div>
<div class="col-md-2">
      <div class="form-group">
        <%= select_tag "type", options_for_select([['Select type', ''],['Cat', 'cat'], ['Dog', 'dog']]) , id: "pet_pet_type" , :style => 'margin-top: 100px;'%>
      </div>
    </div>
    <div class="col-md-3">
          <div class="form-group">
            <%= select_tag "breed",options_for_select([['Select type', '']]), id: "pet_breed", :style => 'margin-top: 100px;'%>
          </div>
        </div>
      <div class="col-md-2">
            <div class="form-group">
              <!-- <button style='margin-top: 50px;'>Go</button> -->
              <input type="submit" class="btn btn-info" value="Search" style='margin-top: 100px;'  onclick="getMapWithMarkers()">
            </div>
          </div>

      </div>
</div>
<div id="map"></div>
