<a href="<%= new_message_path %>" class="pull-right btn btn-info" style="margin-top: 6px; margin-right: 10px;">New Message</a>
  <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Messages</h3>
      </div>
      <div class="panel-body">
        <div class="col-md-3">
          <div class="bs-example" data-example-id="list-group-custom-content">
            <div class="list-group first-message-enable">
              <% @messages.each do |message| %>
              <a href="<%= message_path(message)%>" data-remote="true" class="list-group-item">
                <h4 class="list-group-item-heading"><%= message.sender.name_or_email %></h4>
                <p class="list-group-item-text"><%= message.subject %></p>
              </a>
              <% end %>
            </div>
          </div>
        </div>

        <div class="col-md-9 ">
          <div class="panel panel-default">
            <div class="panel-body show-message">

           </div>
        </div>
       </div>
     </div>
  </div>
