
<section class="">
  <div class="container">
    <h1>New Message</h1>
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</section>
<%#= link_to 'Back', messages_path %>
