
<section class="">
  <div class="container">
    <h1>New Message</h1>
    <div class="panel panel-default">
      <div class="panel-body">
        <% if params.has_key? 'walk_request' %>
          <%= render 'walk_request_form' %>
        <% else %>
          <%= render 'form' %>
        <% end %>
      </div>
    </div>
  </div>
</section>
<%#= link_to 'Back', messages_path %>
