<section class="">
  <div class="container">
    <h1>New Discussion</h1>
    <div class="panel panel-default 6u 12u$(xsmall)">
      <div class="panel-body">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</section>

<%#= link_to 'Back', discussions_path %>
