<div class="comment row">
  <div class="col-md-1 portfolio-item">
    <a href="#">
      <img src="<%= comment.user.image.try(:remote_url) %>" class="img-circle" height="20" >
    </a>
    <h5>
      <a href="#"><%= comment.user.first_name %></a>
    </h5>

  </div>
  <div class="col-md-11">
    <p><%= comment.content %></p>
  </div>
</div>
