<section class="">
  <div class="container">
    <center><h1 style="margin-right:100px;">Enter pet details</h1></center>
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</section>
