.form-label{
font-size: 20px;
text-align: right;
}

.form-group{
  padding-top: 10px;
  padding-bottom: 10px;
}
a, u {
    text-decoration: none;
}

.panel-heading.panel-color {
  padding: 0px 0px;
  background-image: linear-gradient(to bottom,#51baa4 0,#51baa4 100%);
  
.message-panel, .message-list
{
    height:60vh;
    overflow-y: scroll;
}
