<nav id="nav">
  <ul class="links">
    <li><a href="/">Home</a></li>
    <li><a href="<%= pets_path %>">Pets</a></li>
    <li><a href="<%= disucssions_path %>">Disucssions</a></li>
    <li><a href="<%= messages_path %>">Messages</a></li>
    <li><a href="<%= adoption_requests_path %>">AddaptionRequests</a></li>
  </ul>
</nav>
